<%- include('./common/header', {page_title: "Creators"}) -%>

<%- include('./common/menu') -%>

    <div class="contentDiv" id="content">
        <h2 style="text-align:center">Creators</h2>

        <div class="card">
            <img src="" alt="Profile picture" style="width:100%">
            <h1>Name</h1>
            <p>Email</p>
            <p>Number of pictures</p>
            <p>
                <!--TODO kicserélni linket-->
                <a href="editCreator.html"><button class="profileButton">Edit</button></a>
            </p>
        </div>
    </div>

<%- include('./common/footer') -%>