<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery</title>

  <link rel="stylesheet" href="style.css">
</head>

<body>

  <ul class="sidenav" id="menu">
    <li><a href="gallery.html">Gallery</a></li>
    <li><a href="editGallery.html">Edit gallery</a></li>
    <li><a href="creators.html">Creators</a></li>
    <li><a href="addPicture.html">Add picture</a></li>
  </ul>

  <div class="contentDiv" id="content">
    <h2 style="text-align:center">Gallery</h2>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="">
          <img src="" alt="First picture" width="600" height="400">
        </a>
        <div class="desc">Image Title</div>
        <div class="desc">Image description</div>
      </div>
    </div>


    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="">
          <img src="" alt="Second Picture" width="600" height="400">
        </a>
        <div class="desc">Image Title</div>
        <div class="desc">Image description</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="">
          <img src="" alt="Third Picture" width="600" height="400">
        </a>
        <div class="desc">Image Title</div>
        <div class="desc">Image description</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="">
          <img src="" alt="Fourth Picture" width="600" height="400">
        </a>
        <div class="desc">Image Title</div>
        <div class="desc">Image description</div>
      </div>
    </div>
</body>

</html>