<%- include('header', {page_title: "Gallery"}) -%>

<%- include('./common/menu') -%>

  <div class="contentDiv" id="content">
    <h2 style="text-align:center">Gallery</h2>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="">
          <img src="" alt="First picture" width="600" height="400">
        </a>
        <div class="desc">Image Title</div>
        <div class="desc">Image description</div>
      </div>
    </div>


    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="">
          <img src="" alt="Second Picture" width="600" height="400">
        </a>
        <div class="desc">Image Title</div>
        <div class="desc">Image description</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="">
          <img src="" alt="Third Picture" width="600" height="400">
        </a>
        <div class="desc">Image Title</div>
        <div class="desc">Image description</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="">
          <img src="" alt="Fourth Picture" width="600" height="400">
        </a>
        <div class="desc">Image Title</div>
        <div class="desc">Image description</div>
      </div>
    </div>
    <%- include('footer') -%>