<%- include('./common/header', {page_title: "Main page"}) -%>
    
    <%- include('./common/menu') -%>

    <div class="contentDiv" id="content">
        <h1>Main Page</h1>
        <h2></h2>
    </div>

<%- include('./common/footer') -%>