<%- include('header') -%>
    <ul class="sidenav" id="menu">
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="editGallery.html">Edit gallery</a></li>
        <li><a href="creators.html">Creators</a></li>
    </ul>

    <div class="contentDiv" id="content">
        <h1>Main Page</h1>
    </div>
    

    <script src="script.js"></script>

</body>

</html>