<!--TODO nem jó-->
<ul class="sidenav" id="menu">
    <li><a href="/gallery">Gallery</a></li> <!--<li><a href="../gallery.ejs">Gallery</a></li>-->
    <li><a href="/gallery/edit">Edit gallery</a></li>
    <li><a href="/addpicture">Add picture</a></li>
    <li><a href="/creators">Creators</a></li>
    <li><a href="/edit_addcreator">Edit_Add creator</a></li>
</ul>