<!--TODO nem jó-->
<ul class="sidenav" id="menu">
    <li><a href="/gallery">Gallery</a></li> <!--<li><a href="../gallery.ejs">Gallery</a></li>-->
    <li><a href="/editGallery">Edit gallery</a></li>
    <li><a href="/creators">Creators</a></li>
    <li><a href="/addPicture">Add picture</a></li>
    <li><a href="">EJS teszt</a></li>
</ul>