<%- include('./common/header', {page_title: "Add Picture"}) -%>

<%- include('./common/menu') -%>

    <div class="contentDiv" id="content">

        <h2 style="text-align:center">Add picture</h2>

        <div id="addPicture">
            <input type="file" id="fileInput" accept="image/*">
          </div>
          <div id="selectCreator">
            <label for="creators">Choose a creator:</label>
            <select id="creators" name="creators">
              <!--adatbázisból creator nevekkel feltölteni a optionokat-->
              <option value="">Existing creators</option>
              <option value="test1">test1</option>
              <option value="test2">test2</option>
            </select>
            <!--TODO kicserélni linket-->
            <a href="/addcreator"><button>Add new creator</button></a>
          </div>
          <div>
            <button>Add picture</button>
          </div>
        </div>
    </div>
    
<%- include('./common/footer') -%>