<%- include('./common/header', {page_title: "Edit Creator" }) -%>

    <%- include('./common/menu') -%>

    <div class="contentDiv" id="content">
        <h2 style="text-align:center">Edit Creator</h2>

        <form method="post" enctype="multipart/form-data">
        <div class="card">

            <label for="name">Név</label>
            <input type="text" id="name" name="name" value="">

            <label for="email">Email</label>
            <input type="text" id="email" name="email" value="">
            <div>
                <a href="/creators">Cancel</a>
                <input type="submit" value="Update"/>
            </div>
        </div>
        </form>
    </div>

        <%- include('./common/footer') -%>